@charset "UTF-8";

/*for laptop----------*/

@media only screen and (max-width: 1545px) {


	.logo-wrap {
	width:100%;
	min-height:695px;
	background-image:url(images/toplogoEDITfinal72.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	float: none;

}

#navButton {
display: none;

}

.wrap-nav > li {
	float: left;
	position:relative;
	padding-right: 110px;
	padding-left: 175px;


}

.disc-wrap h1 {
	text-align: center;
	margin-left: 45px;
	
}

.disc-ic i {
	font-size: 3.125rem;
	position: absolute;
	/*margin-left:12px;*/
	color: #231919;
}

.disc_circ1 i {
	font-size: 8rem; /*150px;*/
	text-align: center;
	margin-left: 19px;
	margin-top: 20px;
	
}

.disc_circ2 i {
	font-size: 8rem;
	text-align: center;
	margin-left: 20px;
	margin-top: 25px;
	
}


.disc_circ3 i {
	font-size: 8rem;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
	
}

.trav-wrap h1 {
	text-align: center;
	margin-left: 80px;

	
}

.foot-icon {
	width:250px;
	margin-top: 10px;
	margin-left: 670px;
}




}



/*---FOR IPHONE 6,7, 8 ----*/

@media only screen and (max-width: 375px) {
	body {
		flex:100%;
	}

	.logo-wrap {
		flex:100%;
		background-size: contain;
		background-position: center;
		background-attachment: unset;
		margin-top: 0px;
		background-color: black;
		min-height: 280px;
		back
	}


	#navButton {
		display:none;
	}

	.wrap-nav > li {
	padding-left: 70px;
	padding-right: 0px;
	}

	.wrap-nav > li > a {
		padding:10px;
		font-size: 1.5rem;

	}

	.wrap-nav button {
		margin:0px;
		margin-left: 40px;
	}

	.box-menu, .box-menu a {
		visibility: hidden;
	}
	.wrap-nav > li:hover > .box-menu {
		visibility: hidden;
	}

/*discover------*/

	.disc-ic {
		margin-left: 145px;

	}

	.p-disc {
		font-size: 1rem;
		margin-left: 50px;

	}

	.disc_circ1{
		width:calc(64% - 150px);
		height: 150px;
		margin-left: 30px;
		margin-top: 100px;
		margin-right: 0px;

	}

	.disc_circ2{
		width:calc(64% - 150px);
		height: 150px;
		margin-left: 20px;
		margin-top: 100px;
		margin-right: 0px;

	}

	.disc_circ3{
		width:calc(64% - 150px);
		height: 150px;
		margin-left: 20px;
		margin-top: 100px;
		margin-right: 0px;
	}

	.circ1-tour {
		font-size: .7rem;
	}

	.circ2-trav {
		font-size: .7rem;
		margin-top: 30px;
	}

	.circ3-acom {
		font-size: .7rem;
	}

	.disc_circ1 i {
		font-size: 3.5rem;
		margin-left: 15px;
		margin-top: 5px;
	}
	.disc_circ2 i{
		font-size: 3.5rem;
		margin-left: 15px;
		margin-top: 5px;
	}
	.disc_circ3 i{
		font-size: 3.5rem;
		margin-left: 15px;
		margin-top: 5px;
	}

/*travel------------*/

#formTable {
		width: calc(100% - 10px);
		margin-left: 5px;
	}

#formTable input, #formTable textarea {
		width: calc(100% - 260px);
		height: 40px;
		margin-left: 0px;
	}

#formTable h2 {
	margin-left: 130px;
}

.input-group-to {
	width: calc(100% - 120px);
	margin-left: 70px;
	float: left;
}

input#from.has-text{
	width:105px;
}

input#to.has-text{
	width: 105px;
}

.input-group-date {
	width: calc(100% - 120px);
	margin-left: 70px;
	margin-top: 30px;
	float: left;
}

input#checkIn.has-text{
	width:105px;
}

input#checkOut.has-text{
	width: 105px;
}


.input-group-pass {
	width:calc(100% - 120px);
	margin-left: 85px;
	margin-top: 10px;
	float: left;
	
}

.input-group-pass p {
	font-family: AdventPro-Regular, Verdana;
	font-size: 1rem;
	font-style: italic;
	margin-left: -50px;
}

input#adult.has-num {
	width: 55px;
}


input#children.has-num {
	width: 55px;
}

input#seniors.has-num {
	width: 55px;
}

.has-text{
	padding: 10px;
}

.has-num {
	padding: 10px;
}

.group-total {
	width: 50%;
	margin-left: 120px; 
	margin-top: 10px;
	float: left;
}


.group-total p {
	margin-left: 30px;
}


input#price.has-num {
    width: 50%;
}

#formTable button {
	background-color: white;
	font-family: Felix Titling, Times;
	color:#513636;
	font-size: 1.25rem; /*20px;*/
	margin-top:40px;
	margin-left: 125px;
}



/*explore--------*/

.exp_circ1 {
	width: 40%;
	height:150px;
	margin-left: 85px;
}

.exp_circ2 {
	width: 50%;
	height:180px;
	margin-left: 80px;
	float: left;
}

.exp_circ3 {
	width: 50%;
	height:180px;
	margin-left: 80px;
}

.circ_wrap1 p {
	width:calc(100% - 30px);
	font-size: 1rem;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 0px;
	float:left;
}

.circ_wrap2 p{
	width:calc(100% - 30px);
	font-size: 1rem;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 0px;
	float:left;
}

.circ_wrap3 p{
	width:calc(100% - 30px);
	font-size: 1rem;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 30px;
	float:left;
}

#formTable2 {
	width: calc(100% - 10px);
	margin-left: 5px;
}

#formTable2 input, #formTable2 textarea {
	width: 150px;
	height: 40px;
	
}

#formTable2 h2 {
	font-family: AdventPro-Regular, Verdana;
	margin-left: 120px;
}

.group-info {
 	width: calc(100% - 10px);
 	margin-left: 15px;
 	float: left;

}

.input-email {
	width: calc(100% - 120px);
	padding-top: 20px;
	margin-left: 100px;
	float: left;
}

.group-mes {
	 width: calc(100% - 100px);
	 margin-top: 0px;
	 margin-left: 100px;
	 float: left;
}

.group-mes p {
	font-family: AdventPro-Regular, Verdana;
	font-size: 1rem;
	font-style: italic;
	margin-left: 50px;

}

.comments {
	padding:40px;
}

.has-name {
	padding:10px;

}



#formTable2 button {
	background-color:#2b1321;
	font-family: Felix Titling, Times;
	color:white;
	font-size: 1.25rem; /*20px;*/
	margin-top:20px;
	margin-left: 135px;

}
.address {
	width: calc(100% - 10px);
	margin-top: 10px;
	margin-left: 5px;
	padding-bottom: 50px;
	float: left;
}

.address h2 {
	margin-left: 120px;
}

.address p {
	margin-left: 120px;

}


.map{
	width: calc(40% + 80px); /*250px;*/
	height: 175px;
	margin: 0px 70px;
	margin-top: 25px;
	
}


.footer {
	width:100%;
	height: auto;
	float:left;
}

.foot-icon {
	width:250px;
	margin-top: 10px;
	margin-left: 10px;
}

.footer i {
	font-size: 3rem;
	color:white;
	margin-left: 30px;
}


}


/*---END FOR IPHONE---*/


@font-face{
    font-family: "AdventPro-Regular";
    src:url(web-font/AdventPro-Regular.ttf) format('truetype');
    
}	
